modules = ["nodejs-20", "postgresql-16"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "cd hugmenow/web && npm run build && npm run preview"]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 3002
externalPort = 3002

[[ports]]
localPort = 4000
externalPort = 4200

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 5001
externalPort = 80

[[ports]]
localPort = 5173

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "HugMeNow"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "SyncGraphQLSchema"

[[workflows.workflow]]
name = "HugMeNow"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"
waitForPort = 5000

[[workflows.workflow]]
name = "SyncGraphQLSchema"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./schema-sync-workflow.sh"
