modules = ["nodejs-20", "python-3.11", "postgresql-16"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "HugMood Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "HugMood GraphQL Server"

[[workflows.workflow]]
name = "HugMood Server"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"
waitForPort = 5000

[[workflows.workflow]]
name = "Build React Bundle"
author = 40513268
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node build-react.js"

[[workflows.workflow]]
name = "Build React App"
author = 40513268
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node build-react.js"

[[workflows.workflow]]
name = "Build and Run"
author = 40513268
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node build-react.js"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[[workflows.workflow]]
name = "HugMood GraphQL Server"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node new-server.js"
waitForPort = 4000

[[workflows.workflow]]
name = "GraphQL-Only Build & Run"
author = 40513268
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node build-react.js"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node new-server.js"

[[workflows.workflow]]
name = "Build and Run HugMood"
author = 40513268
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node build-react.js"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[[workflows.workflow]]
name = "HugMood GraphQL Build & Run"
author = 40513268
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node build-react.js"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[[workflows.workflow]]
name = "Run HugMood with GraphQL"
author = 40513268
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node graphql-server.js"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[deployment]
run = ["sh", "-c", "node new-server.js"]
build = ["sh", "-c", "node build-react.js"]

[[ports]]
localPort = 4000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80
